.eager-self-summary {
  display: block;
  -webkit-font-smoothing: antialiased;
  padding: 2em;
  margin: 1em 0;
}

img.avatar {
  border-radius: 50%;
  height: 5em;
  width: 5em;
  max-width: 100%;
}

.email{
  padding-right: 1em;
}

.twitter{
  padding-right: 1em;
}

.facebook{
  padding-right: 1em;
}